@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #eafaf1;
  --color-primary-100: #d5f5e3;
  --color-primary-200: #abebc6;
  --color-primary-300: #82e0aa;
  --color-primary-400: #58d68d;
  --color-primary-500: #2ecc71;
  --color-primary-600: #28b463;
  --color-primary-700: #239b56;
  --color-primary-800: #1d8348;
  --color-primary-900: #186a3b;
}

@source "../node_modules/flowbite-svelte/dist";

* {
    font-family: "Kanit", Arial, Helvetica, sans-serif !important;
    font-weight: normal;
}

body {
    background-color: #eaecee;
}
